[Unit]
Description=Meteo Web Dashboard Service
After=network.target meteo-mqtt.service

[Service]
Type=simple
User=dafer
WorkingDirectory=/home/dafer/programming/dafer-meteo/sub
ExecStart=/bin/bash -c 'source /home/dafer/.local/share/ape/venvs/default/bin/activate && uvicorn web_server:app --host 0.0.0.0 --port 80'
Restart=always
AmbientCapabilities=CAP_NET_BIND_SERVICE
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=meteo-web

[Install]
WantedBy=multi-user.target
